(
  swipe_distance: 100,
  shear_distance: 100,
  pinch_distance: 1.4,
  rotation_distance: 60,

  global_triggers: [
    (
      trigger: Swipe (
        fingers: 3,
        direction: Up,
        repeated: false,
      ),
      action: UinputAction (
        modifiers: ["LeftControl"],
        sequence: ["T"],
      ),
    ),
    (
      trigger: Swipe (
        fingers: 3,
        direction: Down,
        repeated: false,
      ),
      action: UinputAction (
        modifiers: ["LeftControl"],
        sequence: ["W"],
      ),
    ),
    (
      trigger: Swipe (
        fingers: 3,
        direction: Left,
        repeated: false,
      ),
      action: UinputAction (
        modifiers: ["LeftAlt"],
        sequence: ["Right"],
      ),
    ),
    (
      trigger: Swipe (
        fingers: 3,
        direction: Right,
        repeated: false,
      ),
      action: UinputAction (
        modifiers: ["LeftAlt"],
        sequence: ["Left"],
      ),
    ),
    (
      trigger: Swipe (
        fingers: 4,
        direction: Down,
        repeated: false,
      ),
      action: UinputAction (
        modifiers: ["LeftAlt"],
        sequence: ["F4"],
      ),
    ),
    // Fullscreen for Hyprland
    (
      trigger: Swipe (
        fingers: 4,
        direction: Up,
        repeated: false,
      ),
      action: UinputAction (
        modifiers: ["LeftMeta"],
        sequence: ["W"],
      ),
    ),
  ],
)
